# Dependencies
node_modules/

# Environment variables (SENSITIVE! Never push these!)
.env

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# User Uploads
server/uploads/
